$primary: #252932;
$secondary: #16181e;
$white: #ededed;
$red: #cf2e51;
$blue: #2299ca;
$black: #000000;
$grey: #acacac;
$dark-grey: #3f3f3f;
$green: #30b04b;

$z-index-sidebar: 100;
$z-index-header: 100;
$z-index-modal: 200;
$z-index-dialog-form: 100;
$z-index-dropdown: 150;

$header-height: 40px;
$sidebar-width: 320px;

$large-size: 991px;
$medium-size: 768px;
$small-size: 576px;
